# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# IDE settings
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db


# Ignore root-level node_modules
/node_modules/

# Ignore frontend node_modules
/frontend/node_modules/

# Ignore backend node_modules (if exists)
/backend/node_modules/

